input,
textarea {
  font-family: 'helvetican';
}
a {
  all: unset;
  cursor: pointer;
  &:hover{
    color: $lightColor-semi;
  }
}
<<<<<<< HEAD
button{
  all: unset;
  cursor: pointer;
}
=======
>>>>>>> 7d38863b100fb045276b17cf9fee42c3a188bcaf
