*{
  margin: 0;
}
  html {
  font-size: 62.5%;
}
body {
  font: 300 11px 'helvetican', 'sans-serif';
  color: #F5F5F5;
  background-color: #121212;
  overflow: hidden;
  display: block;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
